<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217151508423-rh7i0l0bipcq02fu2lmfi2imcto1qgrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217151508423-rh7i0l0bipcq02fu2lmfi2imcto1qgrb</string>
	<key>API_KEY</key>
	<string>AIzaSyD2_pt4UopwGJsXzhdB2hNXoT9lKWQItfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>217151508423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commercex</string>
	<key>PROJECT_ID</key>
	<string>commercex-b9f2e</string>
	<key>STORAGE_BUCKET</key>
	<string>commercex-b9f2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217151508423:ios:96db263c4591a7b3e2d3e2</string>
</dict>
</plist>